<nav class="navbar navbar-light bg-light fixed-top border-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ base_url() }}">MyApp</a>
        <div class="d-flex align-items-center">
            {% if user is null %}
                <div class="d-flex">
                <a class="btn btn-outline-primary mx-1" href="{{ url('user/login') }}">Log In</a>
                <a class="btn btn-outline-primary mx-1" href="{{ url('user/registration') }}">Register</a>
            {% else %}
                <a type="button" class="btn btn-outline-warning mx-1" href="{{ url('posts/builder') }}">Public new
                    post(Beta) </a>
                <a class="btn btn-outline-info mx-1" href="{{ url('user') }}">Personal Cabinet</a>
                <a class="btn btn-outline-primary mx-1 mr-4" href="{{ url('user/logout') }}">Log Out</a>
                <img src={# /public/images/favicon.png #} "{{ user.image_path }}" alt="Avatar"
                     class="rounded-circle me-2 p-1" style="width: 45px; height: 45px;">
                <span class="p-2">{#Kisapablo Restless#} {{ user.name }} </span>
                </div>
            {% endif %}
            {% if userInfo is not null %}
                <div>
                    {{ userInfo['name'] }}
                </div>
            {% endif %}
        </div>
    </div>
</nav>