<nav class="navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ base_url() }}">MyApp</a>
        <div class="nav__body-buttons">
            {% if user is null %}
                <div class="nav__body-buttons">
                <a class="nav-button auth-color" href="{{ url('user/login') }}">Log In</a>
                <a class="nav-button auth-color" href="{{ url('user/registration') }}">Register</a>
                </div>
            {% else %}
                <a type="button" class="nav-button builder-color" href="{{ url('posts/builders') }}">Public new
                    post(Beta) </a>
{#                <a class="nav-button user-color" href="{{ url('user') }}">Author's karma</a>#}
                <a class="nav-button logout-color marging" href="{{ url('user/logout') }}">Log Out</a>
                <a href="{{ url('user') }}" class="user__body">
                <img src="{{ icons.icon_name }}" alt="Avatar" class="avatar">
                <span>{# Kisapablo Restless #} {{ user.name|default('Bug submit pls') }} </span>
                </a>
                {# rounded-circle me-2 p-1 #}
            {% endif %}
        </div>
    </div>
</nav>