{% extends 'base.twig' %}

{% block title %}
    Selecting your posts...
{% endblock %}
{% block body %}
    {% for post in posts %}
        <div class="post__body post__body-colors post__body-hover">
            <div class="post-title">
                <a target="_blank" href="{{ url('posts/' ~ post.id) }}">
                    <h5 class="post-title">{{ post.title|escape }}</h5></a>
            </div>
            <br> {{ post.author_id }}
            <div class="post_edit-body">
                <a class="nav-button auth-color" href="{{ url('user/posts/PostEditor/' ~ post.id) }}">Edit
                    post</a>
                <a class=" nav-button logout-color" href="{{ url('user') }}">Delete Post</a>
            </div>
            <div class="post-content post-content-color"><br>
                {{ post.content }}
            </div>
            <div class="post_read-more">
                <a target="_blank" href="{{ url('posts/' ~ post.id) }}">Read more</a>
            </div>
            <span class="post-publication-date">{{ post.publication_data|date("F d, Y, H:m ") }}</span>
        </div>
    {% endfor %}
{% endblock %}
