{% extends 'base.twig' %}

{% block title %}
    Personal Cabinet
{% endblock %}
{% block body %}

    <div class="profile__body">
        <div class="profile__body-color">
            <div class="profile-text">
                {% if icons is not null %}
                    <img src="{{ icons.icon_name }}"
                         class="profile-avatar" alt="icon">
                {% endif %}

                <h5 class="profile-title">{{ user.name }}</h5>
                <a class="profile-button role-{{ cabinet.en_name }}-color"> {{ cabinet.en_name }}</a>
                {% if cabinet.moto is not null %}
                    <div class="desc">{{ cabinet.moto }}</div>
                {% endif %}

                <h3 class="profile_info-title">Account Info</h3>
                <span class="registration-date">Register on: {{ cabinet.registration_date }}</span>
                <div> {# Первый столб #}
                    <p class="profile_info-content">{{ cabinet.lvl|default('1000') }} LVL {{ cabinet.total }} posts<br>Last
                        Activity: {{ cabinet.last_visit_date|default('1hour ago') }}</p>
                    <a href="{{ url('posts?author=') ~ (user.id) }}" class="profile-button builder-color">Search Your
                        Posts</a>

                    <a class="profile-button user-color" href="{{ url('user/icons/default') }}">Select default ico</a>
                </div>
                <div> {# Второй столб #}
                    <a class="profile-button info-color" href="{{ url('user/UserEditor') }}">Update user info</a>
                    {#            {% if cabinet.moto == 'admin' or cabinet.moto == 'helper' %} #}
                    <a class="profile-button secret-color" href="{{ url('admin') }}">Admin panel</a>
                    {#            {% endif %} #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
