{% extends 'base.twig' %}

{% block body %}
    {# Rendering content #}
    <div class="container">
        {% for post_attachment in post_attachments %}
            <img src="{{ post_attachment.attachment_name }}" alt="PostPhoto" style="width: 25rem">
        {% endfor %}
        <h1 class="mt-3 mb-3">{{ post.title|escape }}</h1>
        <div class="container mb-3 posts">
            <div class="d-flex post__body">
                {% for icon in icons %}
                    <img src="{{ icon.icon_name }}" alt="Avatar"
                         class="avatar">
                {% endfor %}
                <span class="text-muted">Kisapablo Restless | {{ post.published_date|date("F d, Y") }}</span>
            <span>
                {{ post.content|raw }}
            </span>
            </div>
        </div>
    </div>

    {#  Start Comment's #}
    <div class="container">
        <h3 class="mt-5">Comments</h3>
        {% if comments %}
            {% for comment in comments %}
                <div class="card mb-3">
                    <div class="post__body comment-color">
                        <p class="card-text">   {{ comment.content | e }}</p>
                        {% for icon in icons %}
                            <img src="{{ icon.icon_name }}" alt="Avatar"
                                 class="avatar">
                        {% endfor %}
                        <p class="card-text text-muted">
                            <small>{{ comment.author_id }}</small>
                        </p>
                        {% for comments_attachment in comment.attachments %}
                            <img src="{{ comments_attachment.attachment_name }}" alt="Never" style="width: 7.5rem">
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                No comments yet.
            </div>
        {% endif %}
        {% if user is not null %}


            <form method="POST" action="/posts/{{ post.id }}/comments" class="mb-5">
                <div class="form-group">
                    <label class="mt-4" for="exampleFormControlTextarea1">Add new Comment, write your think of this
                        post!</label>
                    <textarea required class="form-control" name="content" id="exampleFormControlTextarea1"
                              rows="2"></textarea>
                    <input type="file" id="avatar" name="avatar" class="" accept="image/png, image/jpeg"/>
                </div>
                <button type="submit" class="nav-button user-color">Submit Comment</button>
            </form>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

