{% extends 'base.twig' %}

{% block body %}
{# Rendering content #}
<div class="PostPreview">
    <div class="PostPreview-title">
        <h1>{{ post.title|escape }}</h1>
        <div class="post_edit-body">
            <a class="nav-button auth-color" href="{{ url('user/posts/PostEditor/' ~ post.id) }}">
                Edit post
            </a>
            <a class="nav-button logout-color" href="{{ url('posts/delete/' ) ~ post.id  }}">Delete Post</a>
        </div>
    </div>
    <span class="text-muted" style="text-align: left">
        {{ post.author_id }} {{ post.published_date|date("F d, Y") }}
    </span>
    <div class="PostPreview-author">
        <img src="{{ icons.icon_name }}" alt="" class="avatar-post">
        <div class="PostPreview-auth-text">{{ user.name }}</div>
    </div>
    <div class="post__body">
        {{ post.content|raw }}

        <div class="post_img_body">
            <div class="container">
                {% for post_attachment in post_attachments %}
                <div class="post_img_body-shadow">
                    <img src="{{ post_attachment.attachment_name }}" alt="PostPhoto" class="post-img">
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{#  Start Comment's #}
<div class="container">
    <h3 class="comment_h3-body">Comments</h3>
    {% if comments %}
    {% for comment in comments %}
    <div class="post__body comment-color">
        <div class="comment-title">
            <p class="comment-text"> {{ comment.content | e }}</p>
            <span class="post-publication-date">{{ comment.publication_data|date("F d, Y, H:m ") }}</span>
        </div>
        <p class="comment-text text-muted">
            <img src="{{ comment.author_icon_name }}" alt="avatars" class="avatar">
            <small style="">{{ comment.attachments.author_name }}</small>
        </p>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info-black" role="alert">
        No comments yet.
    </div>
    {% endif %}
</div>
{% endblock %}
