{% extends 'base.twig' %}

{% block body %}
    {# Rendering content #}
    <div class="PostPreview">
        <h1 class="PostPreview-title">{{ post.title|escape }}</h1>
        <div class="d-flex post__body">
            {% for icon in icons %}
                <img src="{{ icon.icon_name }}" alt="Avatar"
                     class="avatar">
            {% endfor %}
            <span class="text-muted">Kisapablo Restless | {{ post.published_date|date("F d, Y") }}</span>
            <span>
                {{ post.content|raw }}
            </span>
        </div>
        <div class="post_img_body">
            {% for post_attachment in post_attachments %}
                <div class="post_img_body-shadow">
                    <img src="{{ post_attachment.attachment_name }}" alt="PostPhoto" class="post-img">
                </div>
            {% endfor %}
        </div>
    </div>
    {#  Start Comment's #}
    <div class="container">
        <h3 class="comment_h3-body">Comments</h3>
        {% if comments %}
            {% for comment in comments %}
                <div class="post__body comment-color">
                    <p class="comment-text">   {{ comment.content | e }}</p>
                    {% for icon in icons %}
                        <img src="{{ icon.icon_name }}" alt="Avatar" class="avatar">
                    {% endfor %}
                    <p class="comment-text text-muted">
                        <small>{{ comment.author_id }}</small>
                    </p>
                    {% for comments_attachment in comment.attachments %}
                        <img src="{{ comments_attachment.attachment_name }}" alt="Never" class="comment-img">
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                No comments yet.
            </div>
        {% endif %}
        {% if user is not null %}


            <form method="POST" action="/posts/{{ post.id }}/comments" class="mb-5">
                <div class="form-group">
                    <label class="Comment__Desc-main" for="exampleFormControlTextarea1">Add new Comment, write your
                        think of this
                        post!</label>
                    <textarea required class="form-control" name="content" id="exampleFormControlTextarea1"
                              rows="2"></textarea>
                    <input type="file" id="avatar" name="avatar" class="" accept="image/png, image/jpeg"/>
                </div>
                <button type="submit" class="nav-button user-color">Submit Comment</button>
            </form>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

