{% extends 'base.twig' %}

{% block body %}
    {# Rendering content #}
    <div class="PostPreview">
        {% if post.author_id == user.id %}
            <div class="post_edit-body">
                <a class="nav-button auth-color" href="{{ url('user/posts/PostEditor/' ~ post.id) }}">Edit
                    post</a>
                <a class="nav-button logout-color" href="{{ url('user') }}">Delete Post</a>
            </div>
        {% endif %}
        <div class="PostPreview-title">
            <h1>{{ post.title|escape }}</h1> <span class="text-muted" style="text-align: left">
                {{ post.author_id }} | {{ post.published_date|date("F d, Y") }}
            </span>
        </div>
        <div class="PostPreview-author">
            <img src="{{ icon.icon_name }}" alt="Avatar" class="avatar-post">
            <div class="PostPreview-auth-text">Jorik!</div>
        </div>
        <div class="post__body">
            {{ post.content|raw }}

            <div class="post_img_body">
                {% for post_attachment in post_attachments %}
                    <div class="container">
                    <div class="post_img_body-shadow">
                        <img src="{{ post_attachment.attachment_name }}" alt="PostPhoto" class="post-img">
                    </div>
            </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {#  Start Comment's #}
    <div class="container">
        <h3 class="comment_h3-body">Comments</h3>
        {% if comments %}
            {% for comment in comments %}
                <div class="post__body comment-color">
                    <p class="comment-text">   {{ comment.content | e }}</p>
                    <div class="position">
                        {% for comments_attachment in comment.attachments %}
                            <img src="{{ comments_attachment.attachment_name }}" alt="Never" class="comment-img">
                        {% endfor %}
                    </div>
                    {#                    {% for author in comment.attachments %} #}
                    <p class="comment-text text-muted">
                        <small>{{ comment.attachments.author_name }}</small>
                    </p>
                    {#                    {% endfor %} #}
                    <img src="{{ comment.author_ico.icon_name }}" alt="avatars" class="avatar">
                    {#                    {% for author in comment.attachments %} #}
                    {#                    {% endfor %} #}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                No comments yet.
            </div>
        {% endif %}
        {% if user is not null %}


            <form method="POST" action="/posts/{{ post.id }}/comments" class="mb-5" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="Comment__Desc-main" for="exampleFormControlTextarea1">Add new Comment, write your
                        think of this
                        post!</label>
                    <textarea required class="form-control" name="content" id="exampleFormControlTextarea1"
                              rows="2"></textarea>
                    <input type="file" id="avatar" name="avatar" class="" accept="image/png, image/jpeg"/>
                </div>
                <button type="submit" class="nav-button user-color">Submit Comment</button>
            </form>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

